.sidebar {
  max-width: 300px;
  width: 100%;
  position: fixed;
  height: 100vh;
  background: rgb(234, 235, 236);
  top: 0;
  right: 0;
  padding: 30px;
  transition: all 0.3s;
  overflow: auto;
}
.closeSidebar {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
.sidebar span {
  font-size: 20px;
  cursor: pointer;
  margin-right: 10px;
}
.sidebar h5 {
  margin-bottom: 5px;
}
.sidebarItems {
  border-bottom: 2px solid rgba(144, 157, 168, 0.63);
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
